{%extends 'base.html'%}
{%block main%}

<div class="px-4 py-5 my-5 text-center" id="header">
    <h1 class="display-5 fw-bold text-light">Steam Portfolio</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-light">Manage your investments</p>
        <div class="d-grid gap-2 d-flex justify-content-center">
            <form class="d-flex form-inline mx-sm-3" action="" method="post">
                <input class="form-control mb-2 mr-6" type="text" name="steamLink" id="steamIdInput"
                       placeholder="Your SteamID">
                <input class="btn btn-primary mb-2 ml-2" type="submit" value="Load" title="Check">

            </form>
        </div>
        {% if message %}
        <div class="item text-danger bg-dark my-auto">
            <p>{{ message }}</p>
        </div>
        {% endif %}
    </div>
</div>
{%block table%}
{%endblock%}
{%endblock%}