{%extends "main.html"%}
{%block table%}
<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Bought for</th>
        <th>Current price</th>
    </tr>
  </thead>
  <tbody>
   {% for item in userItems %}
   <tr>
       <td> {{ item["itemName"] }} </td>
       <td> {{ item["quantity"] }} </td>
       <!--<td> {{ item["boughtPrice"] }} </td>-->
       <td> <form>
           <input type="text" value = '{{ item["boughtPrice"] }}' >
           <input type="submit" value="Save">
           </form>
       </td>
       <td> {{ item["currentPrice"] }} </td>
       {%endfor%}
   </tr>
  </tbody>
</table>
{%endblock%}