{%extends "main.html"%}
{%block table%}
    <div class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <!--<div class="p-3 mb-2 bg-secondary text-white justify-content-center mb-md-0">
            Total invested: {% if totalInvested %}
            <p CLASS="nav-link px-2 text-secondary">{{ totalInvested }}</p>
                {% endif %}</li>
        </div>-->
        <div class="text-end">
            <form name = 'refreshValues' action="" method="post">
                <input type="submit" class="btn btn-outline-light me-2" name = "refreshInventory" value="refreshInventory">
                <input type="submit" class="btn btn-outline-light me-2" name = "refreshPrices" value="refreshPrices">
            </form>
        </div>
      </div>
    </div>
  </div>

<table class="table table-dark">
  <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Bought for</th>
        <th scope="col">Total Invested</th>
        <th scope="col">Current price</th>
        <th scope="col">Total Worth</th>
        <th scope="col">Difference</th>
    </tr>
  </thead>
  <tbody>
   {% for item in userItems %}
   <tr>
       <td>  {{ item["itemName"] }} </td>
       <td> {{ item["quantity"] }} </td>
       <td>
           <div class="d-flex align-items-center" style="gap:10px;">
               <form name = '{{item["id"]}}' action="" method="post">
                    <input type="hidden" name= "itemName" value='{{ item["itemName"] }}' readonly>
                    <input type="text" class='bg-dark text-white border border-secondary btn-outline-warning rounded btn-secondary btn-sm mr-4' name= "boughtPrice" value = '{{ item["boughtPrice"] }}' >
                    <input type="submit" class="btn btn-primary btn-sm" value="Save">
               </form>
           </div>
       </td>
       </form>
       <td>{{item["quantity"] * item["boughtPrice"]}}</td>
       <td> {{ item["currentPrice"] }} </td>
       <td>{{ item["quantity"] * item["currentPrice"]|round(2, 'floor')}}</td>
       <td>{{ item["quantity"] * item["currentPrice"] - item["quantity"] * item["boughtPrice"] }} </td>
   </tr>
  {%endfor%}
  </tbody>
</table>
{%endblock%}