{%extends "main.html"%}
{%block table%}
<form name = 'refreshValues' action="" method="post">
    <input type="submit" name = "refreshInventory" value="refreshInventory">
    <input type="submit" name = "refreshPrices" value="refreshPrices">
</form>
<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Bought for</th>
        <th>Total Invested</th>
        <th>Current price</th>
        <th>Total Worth</th>
        <th>Difference</th>
    </tr>
  </thead>
  <tbody>
   {% for item in userItems %}
   <tr>
       <form name = '{{item["id"]}}' action="" method="post">
       <td> <input type="text" name= "itemName" value='{{ item["itemName"] }}' readonly> </td>
       <td> {{ item["quantity"] }} </td>
       <td>
           <input type="text" name= "boughtPrice" value = '{{ item["boughtPrice"] }}' >
           <input type="submit" value="Save">
       </td>
       </form>
       <td>{{item["quantity"] * item["boughtPrice"]}}</td>
       <td> {{ item["currentPrice"] }} </td>
       <td>{{ item["quantity"] * item["currentPrice"]|round(2, 'floor')}}</td>
       <td>{{ item["quantity"] * item["currentPrice"] - item["quantity"] * item["boughtPrice"] }} </td>
   </tr>
  {%endfor%}
  </tbody>
</table>
{%endblock%}